In [3]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Libraries imported.

In [4]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)

headings = ['Postcode', 'Borough', 'Neighbourhood']
for table in tables:
    current_headings = table.columns.values[:3]
    if list(current_headings) == headings:
        break
table.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [5]:
table.shape

(287, 3)

Dropping the rows having not assingned Borough

In [6]:
index=0
while index<table.shape[0]:
    
    if(table.iloc[index,1]=='Not assigned'):
        table.drop(index,inplace=True)
        table.reset_index(inplace=True,drop=True)
        index=index-1
    index=index+1

In [7]:
table.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

Adding duplicate Postal codes in one row

In [8]:
i=0;j=0
while i<table.shape[0]:
    j=0
    while j<table.shape[0]:
        if(table.iloc[i,0]==table.iloc[j,0] and i!=j):
            table.iloc[i,2]=table.iloc[i,2]+','+table.iloc[j,2]
            table.drop(j,inplace=True)
            table.reset_index(inplace=True,drop=True)
            j=j-1
        j=j+1
    i=i+1

In [9]:
table.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

Adding Neighborhood Values for 'Not Assingned' data

In [10]:
for i in range(table.shape[0]):
    if(table.iloc[i,2]=='Not assigned'):
        table.iloc[i,2]=table.iloc[i,1]

In [11]:
table.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [12]:
table.shape

(103, 3)